ion-content {
    --background: linear-gradient(
        170deg,
        rgb(0, 0, 0), 
        rgb(165, 47, 18)
        );
}

ion-card {
    --background: white;
}

ion-card-subtitle {
    margin-top: 10px;
}

ion-searchbar {
    --background: white;
}
